@charset "ISO-8859-1";
body {
	background-color: #73AB95;
}
.flex-container {
	
	display: flex;
	flex-direction: row;
	border: none;
	background-color: lightgoldenrodyellow;
	width: 300px;
	height: 80px;
		border-radius: 5px;
		margin: auto;
		
}
img {
	height: 80px;
	
}
.container {
	
	margin: auto 0;
	padding: 20px;
}

h1 {
	text-align: center;	
	font-family: Comic Sans MS;
	color:#043c2c;
}
h3 {
	font-family: Comic Sans MS;
	
}

.services {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 30px;
	
}
.service {
	width: 700px;
	height: 120px;
	padding: 20px;
    margin-left: 70px;
	text-align: center;
	background-color: lightyellow;
	border: 5px outset,brown;
	
	
}
.service h3 {
	margin-top: 0;
}
.service p {
	margin-bottom: 20px;
}
.btn {
	display: inline-block;
	padding: 10px 20px;
	font-size: 16px;
	text-decoration: none;
	background-color: #4CAF50;
	color: white;
	border-radius: 5px;
}