<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Banking</display-name>
  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServelet</servlet-name>
    <servlet-class>servelet.LoginServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServelet</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignupServelet</display-name>
    <servlet-name>SignupServelet</servlet-name>
    <servlet-class>servelet.SignupServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupServelet</servlet-name>
    <url-pattern>/Signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveaccountServlet</display-name>
    <servlet-name>SaveaccountServlet</servlet-name>
    <servlet-class>servelet.SaveaccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveaccountServlet</servlet-name>
    <url-pattern>/SaveaccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Applyloanservlet</display-name>
    <servlet-name>Applyloanservlet</servlet-name>
    <servlet-class>Applyloanservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Applyloanservlet</servlet-name>
    <url-pattern>/Applyloanservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Otherserviceservlet</display-name>
    <servlet-name>Otherserviceservlet</servlet-name>
    <servlet-class>Otherserviceservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Otherserviceservlet</servlet-name>
    <url-pattern>/Otherserviceservlet</url-pattern>
  </servlet-mapping>
</web-app>